{% extends 'base.html' %}
{% block content %}
<meta id="url-without-parameter-to-get-unit-and-price-for-order-line" data-url="{{context['script_url_without_parameter']}}">
<div class="box">
    <a href={{url_for('web.get_orders_list')}}>Cancel</a>
    <input type="submit" form="add_order" value="Save">
</div>

<form action="" method="post" id="add_order">
    <div class="container3">
        {{ context['form'].created_date.label() }}: {{ context['form'].created_date() }}
        {{ context['form'].client_id.label() }}: {{ context['form'].client_id() }}
    </div>
    <div class="container4">
        <div>
            <img id="add-line" onclick="addRow('{{ context['unit'] }}', {{  context['price'] }}, {{  context['service_id']}})" src="{{ url_for('static', filename='images/plus.svg')}}" alt="Add new string" title="Add new line">
        </div>
      {{ context['form'].csrf_token }}
      <table id="myTable">
          <thead>
          <tr>
             <th>Goods</th>
             <th>Quantity</th>
             <th>Unit</th>
             <th>Price</th>
             <th>Total price</th>
             <th>Event date</th>
             <th>Action</th>
          </tr>
          </thead>
          <tbody id="order-lines">
                {% for i in context['form'].order_line %}
                <tr>
                    <td>{{ i.form.service_id(oninput="getIndex(this.id)") }}</td>
                    <td>{{ i.form.quantity(oninput="changeQuantity(this.id)") }}</td>
                    {% if context['title'] == "edit_order" %}
                        <td>{{ i.form.unit() }}</td>
                        <td>{{ i.form.price() }}</td>
                        <td>{{ i.form.order_line_price(class='order-line-price') }}</td>
                    {% else %}
                        <td>{{ i.form.unit(value=context['unit']) }}</td>
                        <td>{{ i.form.price(value=context['price']) }}</td>
                        <td>{{ i.form.order_line_price(class='order-line-price', value= context['price']) }}</td>
                    {% endif %}
                    <td>{{ i.form.event_date() }}</td>
                    <td><img id="action" onclick="deleteLine(this)" src="{{ url_for('static', filename='images/close.svg')}}" alt="Remove string" title="Remove chosen line"></td>
                    {% if i.form.event_date.errors %}
                    <td><span class="errors">{{ i.form.event_date.errors[0] }}</span></td>
                    {% endif %}
                </tr>
                {% endfor %}
          </tbody>
      </table>
        <div class="container5"><p>Order total price:<span id="order-total-price">0</span>UAN.</p></div>
    </div>
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ context['message'] }}</li>
        <a href="#">fgdrghdg</a>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% endblock %}