{% extends 'base.html' %}
{% block content %}
<div class="box">
    <a href={{url_for('web.get_orders_list')}}>Cancel</a>
    {% if context['add_line'] %}
        <input type="submit" form="add_order" value="Save">
    {% endif %}
</div>

<form action="" method="post" id="add_order">
    <div class="container3">
        {{ context['form'].created_date.label() }}: {{ context['form'].created_date(readonly=True) }}

        {% if context['title'] == "edit_order" %}
        {{ context['form'].client_id.label() }}: {{ context['form'].client_id(class='order-read-only-field') }}
        {% else %}
        {{ context['form'].client_id.label() }}: {{ context['form'].client_id() }}
        {% endif %}
    </div>
    <div class="container4">
        {% if context['add_line'] %}
            <div>
                <img id="add-line" src="{{ url_for('static', filename='images/plus.svg')}}" alt="Add new string" title="Add new line">
            </div>
        {% endif %}
      {{ context['form'].csrf_token }}
      <table id="orderTable">
          <thead>
          <tr>
             <th>Goods</th>
             <th>Quantity</th>
             <th>Unit</th>
             <th>Price</th>
             <th>Total price</th>
             <th>Event date</th>
             <th>Action</th>
          </tr>
          </thead>
          <tbody id="order-lines">
                {% for i in context['form'].order_line %}
                <tr>
                    <td>{{ i.form.service_id() }}</td>
                    <td>{{ i.form.quantity()}}</td>
                    <td>{{ i.form.unit() }}</td>
                    <td>{{ i.form.price() }}</td>
                    <td>{{ i.form.order_line_price() }}</td>
                    <td>{{ i.form.event_date() }}</td>

                    {% if context['title']=='add_order' or i.form.event_date.errors or i.form.event_date.data >= today_date  %}
                    <td><img id="remove-order-line-enabled" src="{{ url_for('static', filename='images/close.svg')}}"
                             alt="Remove string" title="Remove chosen line"></td>
                    {% else %}
                    <td><img id="remove-order-line-disabled" src="{{ url_for('static', filename='images/close.svg')}}" alt="Remove string" title="Remove chosen line"></td>
                    {% endif %}

                </tr>
                {% endfor %}
          </tbody>
      </table>
        <div class="container5"><p>Order total price:<span id="order-total-price">0</span>UAN.</p></div>
    </div>
</form>



{% endblock %}