<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/nav_iter.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/order_table.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/delete_item.js') }}"></script>
    <title>{{context['title']}}</title>
</head>
<body>
    <div id="messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li id="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        </div>
    <div class="wrapper">
        <div class="heading">{{context['heading']}}</div>
        <div class="header">
            <div class="topnav">
                <a href="{{url_for('web.get_orders_list')}}">Orders</a>
                <a href="{{url_for('web.get_clients_list')}}">Clients</a>
                <a href="{{url_for('web.get_services_list')}}">Services</a>
            </div>
        </div>
        <div class="content">

        {% block content %}
        {% endblock %}
        </div>
        <div class="footer">
            <p>© 2023 Все права защищены.</p>
        </div>
    </div>
</body>
</html>