{% extends 'base.html' %}

{% block content %}
<div class="box">
    <a href="{{url_for('web.add_client')}}">Add</a>
</div>

<form action="{{url_for('web.get_clients_list')}}">
    <div class="container1">
        <label for="date_from">date from:<input type="date" id="date_from" name="date_from"></label>
        <label for="date_by">by:<input type="date" id="date_by" name="date_by"></label>
        <input id='loading-button' type="image" src="static/images/loading_button.png" value="Отправить" alt="Загрузить">
    </div>
</form>
{% if context['items_list'] %}
    <table>
        <tr>
           <th>Number</th>
           <th>Name</th>
           <th>Date</th>
           <th>Phone number</th>
           <th>Number of orders</th>
           <th>Actions</th>
        </tr>
        {% for client in context['items_list'] %}
            <tr>
                <td>{{client['id']}}</td>
                <td>{{client['name']}}</td>
                <td>{{client['created_date']}}</td>
                <td>{{client['phone_number']}}</td>
                <td>{{client['number_of_orders']}}</td>
                <td><a href="{{url_for('web.edit_client', client_id=client['id'])}}">Edit</a>  <a href="{{url_for('web.delete_client', client_id=client['id'], page=context['page'])}}">Delete</a></td>
            </tr>
        {% endfor %}

    </table>
{{context['pagination'].links}}
{% else %}
    <p class="no-table">Clients hasn't had yet (((</p>
{% endif %}
{% endblock %}