{% extends 'base.html' %}

{% block content %}
<div class="box">
    <a href="{{url_for('web.add_order')}}">Add</a>
</div>
<form action="{{url_for('web.get_orders_list')}}">
    <div class="container1">
        <label for="date_from">date from:<input type="date" id="date_from" name="date_from"></label>
        <label for="date_by">by:<input type="date" id="date_by" name="date_by"></label>
        <input id='loading-button' type="image" src="static/images/loading_button.png" value="Отправить" alt="Загрузить">
    </div>

</form>
{% if context['items_list'] %}
    <table>
        <tr>
           <th>Order number</th>
           <th>Order date</th>
           <th>Client name</th>
           <th>Total price</th>
           <th>Actions</th>
        </tr>
        {% for order in context['items_list'] %}
            <tr>
                <td>{{order['id']}}</td>
                <td>{{order['created_date']}}</td>
                <td>{{order['client_name']}}</td>
                <td>{{order['total_price']}}</td>
                <td><a href="{{url_for('web.edit_order_get', order_id=order['id'])}}">Edit</a>  <a href="{{url_for('web.delete_order', order_id=order['id'], page=context['page'])}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{{context['pagination'].links}}
{% else %}
    <p class="no-table">Orders hasn't had yet (((</p>
{% endif %}
{% endblock %}