{% extends 'base.html' %}

{% block content %}
<div class="box">
    <a href="{{url_for('web.add_service')}}">Add</a>
</div>
<form action="{{url_for('web.get_services_list')}}">
    <div class="container1">
        <label for="price_from">price from:</label><input type="number" id="price_from" name="price_from">
        <label for="price_by">by:</label><input type="number" id="price_by" name="price_by">
        <input id='loading-button' type="image" src="static/images/loading_button.png" value="Отправить" alt="Загрузить">
    </div>
</form>
{% if context['items_list'] %}
    <table>
       <tr>
           <th>Number</th>
           <th>Name</th>
           <th>Description</th>
           <th>Unit</th>
           <th>Price</th>
           <th>Number of orders</th>
           <th>Actions</th>
       </tr>
        {% for service in context['items_list'] %}
            <tr>
                <td>{{service['id']}}</td>
                <td>{{service['name']}}</td>
                <td>{{service['description']}}</td>
                <td>{{service['unit']}}</td>
                <td>{{service['price']}}</td>
                <td>{{service['number_of_orders']}}</td>
                <td><a href="{{url_for('web.edit_service', service_id=service['id'])}}">Edit</a> <a href="{{url_for('web.delete_service', service_id=service['id'], page=context['page'])}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{{context['pagination'].links}}
{% else %}
    <p class="no-table">Services hasn't had yet (((</p>
{% endif %}
{% endblock %}